* {
    margin: 0;
    top: 0;
    font-family: "Audiowide", sans-serif;
}
body {
    background-color: rgb(0, 0, 0);
}
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#bgImg {
    width: 100%;
    height: 100%;
    filter: blur(9px);
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}
.content {
    width: 60%;
    margin: 160px auto 0;
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 60px;
}
.content h3 {
    font-size: 32px;
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height:25px;
    
}
button {
	font-size: 18px;
    cursor: pointer;
    z-index: 1;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: Bold;
}
button:before {
    z-index: -1;
    width: 0%;
    background: #4ecdc4;
    transition: 0.2s ease;
}
button:hover {
    color: #FFFFFF;
    background-color: #21a6ff;
    transition: 0.2s ease;
}
button:hover::before {
    width: 60%;

}
